@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('background6.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    width: 80%; /* Utilizando uma porcentagem para se adaptar à largura do dispositivo */
    max-width: 400px; /* Adicionando uma largura máxima para evitar que fique muito largo em telas maiores */
    height: auto; /* Adapta a altura automaticamente ao conteúdo */
    margin: auto; /* Centraliza na tela */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column; /* Empilhando os elementos verticalmente */
    align-items: center;
    padding: 20px; /* Adicionando algum espaçamento interno */
}

h2 {
    font-size: 2em;
    color: #df8d8d;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 20px 0; /* Reduzindo um pouco o espaçamento superior */
    width: 100%;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: top 0.3s ease; /* Adicionando uma transição para suavizar o movimento */
}

input:focus ~ label,
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 40px; /* Reduzindo a altura para economizar espaço */
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 15px; /* Ajustando o espaçamento interno */
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 50%;
    transform: translateY(-50%);
}

.forget {
    margin: 0 0 15px; /* Ajustando o espaçamento inferior */
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 15px 0 10px; /* Ajustando o espaçamento superior e inferior */
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.texto-centralizado {
    font-size: 17px;
    color: white;
}

h1 {
    font-size: 17px;
    color: white;
}
